<%= simple_form_for(@session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :json, input_html: {rows: 20} %>
    <%= f.input :server %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
