<p id="notice"><%= notice %></p>

<p>
  <strong>Json:</strong>
  <%= @session.json %>
</p>

<p>
  <strong>Server:</strong>
  <%= @session.server %>
</p>

<p>
  <strong>User:</strong>
  <%= @session.user_id %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
